#requireResource("confluence.plugins.knowledgebase.survey:surveytaculous")
<tr class="kb-plugin-help">
    <td>
    <a name="kbsearch">
{kbsearch} <br>
{kbsearch:spaces=ds|types=page,blogpost,attachment,comment,mail}
    </td>
    <td>
        <p>
        $action.getText("confluence.plugins.knowledgebase.survey.kbsearch.description")
        <ul>
        <li><b>$action.getText("confluence.plugins.knowledgebase.survey.kbsearch.param.spaces.label")</b> - $action.getText("confluence.plugins.knowledgebase.survey.kbsearch.param.spaces.desc")</li>
        <li><b>$action.getText("confluence.plugins.knowledgebase.survey.kbsearch.param.types.label")</b> - $action.getText("confluence.plugins.knowledgebase.survey.kbsearch.param.types.desc")</li>
        </ul></p>
    </td>
</tr>


