#requireResource("confluence.plugins.knowledgebase.survey:surveytaculous")
<tr class="kb-plugin-help">
    <td>
    <a name="kbrollup">
{kbrollup} <br>
{kbrollup|spaces=ds,test}
    </td>
    <td>
        <p>
        $action.getText("confluence.plugins.knowledgebase.survey.kbrollup.label")
        <ul>
        <li><b>$action.getText("confluence.plugins.knowledgebase.survey.kbrollup.param.spaces.label")</b> -
            $action.getText("confluence.plugins.knowledgebase.survey.kbrollup.param.spaces.desc")</li>      
        </ul></p>
    </td>
</tr>