#requireResource("confluence.plugins.knowledgebase.survey:surveytaculous")
#htmlSafe()
<html>
<p>
    <head>
        <title>$action.getText("knowledgebase.survey.space.results.title")</title>
    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-administration")
        #decoratorParam("mode"  "view-space-administration")

        <body>
            #applyDecorator ("root")
                #decoratorParam ("context" "spaceadminpanel")
                #decoratorParam ("selection" "kbresults")
                #decoratorParam ("title" $action.getActionName($action.getClass().getName()))
                #decoratorParam ("selectedTab" "admin")
                #decoratorParam ("helper" $action.helper)

<div class="greyLinks" align="left">
$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.view") <a href="$req.contextPath/knowledgebase/kbresults.action?key=$space.getKey()">$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.answered.pages")</a> | <span style="padding: 5px; background-color: rgb(240, 240, 240);"><Strong>$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.unanswered.pages")</Strong></span> | <a href="$req.contextPath/knowledgebase/kbrollup.action?key=$space.getKey()">$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.rollup")</a> | <a href="$req.contextPath/knowledgebase/garesults.action?key=$space.getKey()">$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.ga")</a>
</div>
<div class="pagecontent">
#set ($currentItems = $pageList)
   <table class="aui tableview" width="1000" cellspacing="1">
     <thead>
       <tr>
           <th width="70%">$action.getText("heading.title")</th>
           <th width="29%">$action.getText("heading.modifier")</th>
           <th width="1%">$action.getText("heading.mod.date")</th>
       </tr>
     </thead>
       #if ($currentItems.isEmpty())
           <td colspan="6">
               All pages are surveyed.
           </td>
       #else
           #foreach( $page in $currentItems )
           <tr #alternateRowColors()>
               <td>
                   #if ($previousLoginDate && $page.lastModificationDate.after($previousLoginDate))
                       #if( $page.isNew() )
                           #set ($colorHtml = 'style="color: #008800"')
                       #elseif( $page.lastModificationDate )
                           #set ($colorHtml = 'style="color: #008800"')
                       #end
                   #else
                       #set ($colorHtml = "")
                   #end

                   #contentIcon($page)
                   <a $colorHtml href="$req.contextPath$generalUtil.getPageUrl($page)">$webwork.htmlEncode($page.title)</a>
               </td>
               <td>
                   #usernameLink ($page.lastModifierName)
               </td>
               <td align="center" nowrap>
                   $dateFormatter.format( $page.lastModificationDate )
               </td>
           </tr>
           #end
       #end
   </table>

#pagination($paginationSupport "$req.contextPath/knowledgebase/kbunansweredpages.action?key=$space.getKey()&")
   </div>
#end
#end