#requireResource("confluence.plugins.knowledgebase.survey:surveytaculous")
#htmlSafe()
<html>
<p>
    <head>
        <title>$action.getText("knowledgebase.survey.space.results.title")</title>
    </head>

    #applyDecorator("root")
        #decoratorParam("helper" $action.helper)
        #decoratorParam("context" "space-administration")
        #decoratorParam("mode"  "view-space-administration")

        <body>
            #applyDecorator ("root")
                #decoratorParam ("context" "spaceadminpanel")
                #decoratorParam ("selection" "kbresults")
                #decoratorParam ("title" $action.getActionName($action.getClass().getName()))
                #decoratorParam ("selectedTab" "admin")
                #decoratorParam ("helper" $action.helper)

      <div class="greyLinks" align="left">
        $action.getText("com.atlassian.confluence.plugins.knowledgebase.results.view") <a href="$req.contextPath/knowledgebase/kbresults.action?key=$space.getKey()">$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.answered.pages")</a> | <a href="$req.contextPath/knowledgebase/kbunansweredpages.action?key=$space.getKey()">$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.unanswered.pages")</a> | <span style="padding: 5px; background-color: rgb(240, 240, 240);"><Strong>$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.rollup")</Strong></span> | <a href="$req.contextPath/knowledgebase/garesults.action?key=$space.getKey()">$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.ga")</a>
      </div>
        #set ($dateFormatter=$action.dateFormatter)
        #set( $alternate = false )
        <table class="aui tableview" width="1000" cellspacing="1">
           <thead>
              <tr>
                <th>$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.rollup.pages")</th>
                <th>$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.rollup.total.ballots")</th>
               #if (!$surveyConfig.getPrimaryQuestion())
               <th class="indent">$action.getText("com.atlassian.confluence.plugins.knowledgebase.results.no.questions.configured")</th>
               #else
               <th class="indent">$surveyConfig.getPrimaryQuestion()</th>
               #end
                #foreach( $surveyQuestion in $surveyConfig.getActiveQuestionList() )
                   <th>$surveyQuestion.getQuestion()</th>
                #end
              </tr>
           </thead>

            #set($questionList = $surveyConfig.getActiveQuestionList())

                <td>$pageManager.getPages($space, true).size()</td>
                <td>$action.getSpaceBallotCount($space)</td>
                <td>$action.getSpaceYesNoTotals($surveyConfig.getPrimaryQuestionId())</td>
                #foreach($question in $questionList)
                   <td>$action.getSpaceYesNoTotals($question.getId())</td>
                #end

              </tr>
        </table>
</p>
#end
#end