#htmlSafe()
<table class="aui toparticles tableview" width="66%">
    <tr><th>Top Ranked Knowledge Base Articles</th><th>Score</th></tr>

    #foreach($sortedpage in $pagelist)
    <tr>
      <td nowrap="false">
          <a rel="nofollow" href="viewpage.action?pageId=$sortedpage.getId()">$sortedpage.getTitle()</a>
      </td>
      <td>
          $surveyfeedbackmanager.getCompositeScore($sortedpage)
      </td>
    </tr>
   #end

</table>